In [20]:
import pathlib
import json
import pandas as pd
import plotly.graph_objects as go

In [21]:
main_dir=pathlib.Path(".")

In [15]:
reward_data=[]
fig=go.Figure()
for ko in main_dir.iterdir():
    if ko.name.startswith(".") or ko.name.startswith("Data_Analysis.ipynb"):
        continue
    else: 
        agent1_ko,agent2_ko=ko.name.split("_")
        if (ko/"returns_1800.json").exists():
            with open(ko/"returns_1800.json") as f:
                rewards=json.load(f)
            reward_data.append({
                agent1_ko:rewards["agent1"][-100:],
                agent2_ko:rewards["agent2"][-100:]
                    })

,cysE,leuB,ilvA,thrC,trpC,hisB,argA,metA,tyrA
0,"[90.84884052673615, 82.39454155400028, 62.3521...","[21.904699540558198, 100.46708384012587, 62.86...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"[21.191910251040007, 1.3337875614926662, 43.31...","[61.85882771661244, 33.02122356294518, 224.023...",NaN,NaN,NaN,NaN,NaN
2,"[37.24186553176237, 53.850092192986864, 5.1047...",NaN,NaN,NaN,"[90.20855922094668, 21.67992997450895, 131.558...",NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,"[50.38665119172779, 39.479053602559006, 11.599...",NaN,"[68.5722647979611, 99.25979399964719, 208.5528...",NaN,NaN,NaN
4,"[199.95435674832652, 128.1882427514229, 42.599...",NaN,NaN,NaN,NaN,NaN,"[2.2679530904803302, 48.68201521129495, 7.9864...",NaN,NaN
5,"[59.18701120883833, 77.89653333118194, 4.98698...",NaN,NaN,NaN,NaN,"[19.915902091771205, 87.18029582913509, 59.363...",NaN,NaN,NaN
6,NaN,NaN,NaN,"[33.510444687421575, 95.18099665456796, 20.440...",NaN,NaN,"[33.10617366589899, 37.65789136486584, 67.3956...",NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
8,"[4.8794180620510925, 2.779886194232586, 2.4127...",NaN,NaN,NaN,NaN,NaN,NaN,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",NaN